body {
    margin: 3vh 3vw;
}
.wrapper {
    display: grid;
    justify-items: center;
    height: 85vh;
    padding: 10px;
    grid-template-rows: minmax(100px, 1fr) 3fr 1fr;
    grid-gap: 30px;
   
}
.card {
    border-radius: 10px;
    background-color: red;
    height: 25vh;
    width: 100%;
    box-shadow: 0 0 21px 5px #ebebeb;
}
@media only screen and (min-width: 480px) {
    h1::after {
        content: "> 480px";
    }
    .wrapper {
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (min-width: 720px) {
    h1::after {
        content: "> 720px";
    }
    .wrapper {
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (min-width: 960px) {
    h1::after {
        content: "> 960px";
    }
    .wrapper {
        grid-template-columns: 4 1fr;
    }
}