   <style>
               * {
                   padding: 0;
                   margin: 0;
               }
               body {
                   background-color: blanchedalmond;
               }
               h1 {
                   color: aqua;
               background-color: coral;
               }
               
               p {
                   color: aquamarine;
               background-color: red;
                   font-size: 35px;
                   font-family: Avenir, Arial, sans-serif;
                   font-weight: bold;
               }
.text {
    font-size: 1rem;
}
.emphasis {
    font-weight: 600;
}
#unique {
    color: red;
    
}

               
           </style>
    