* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.box-model {
              margin: 20px;
             padding: 20px;
             border: solid 50px red;
             /*outline: solid;*/
             width: 400px;
             height: 400px;
            overflow: scroll;
            }
.border-box {
            box-sizing: content-box;
}
.block {
    display: block;
}
.inline {
    display: inline;
    
}
.inline-block {
    display: inline-block;
    width: inline;

}
.none {
    display: none;
}
a [href^="https"]
{ color: green;}
